.h1{
    color: rosybrown;
    font-family: ui-monospace;
    font-weight: bold;
    text-decoration:overline; 
    }

.h2{
    color: black;
    font-family: ui-monospace;
    ;font-weight: bold;
}
    